/* line 4, ../scss/main.scss */
.white {
  background: white;
}

/* line 8, ../scss/main.scss */
.radius {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 13, ../scss/main.scss */
.dropdown {
  background: white;
  position: absolute;
  padding: 0 5px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-top: none;
  max-height: 300px;
  overflow-y: auto;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0;
  border-radius: 0 0 5px 5px;
}
/* line 23, ../scss/main.scss */
.dropdown li {
  list-style: none;
  padding: 5px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  cursor: pointer;
  font-size: .8em;
  color: darkgray;
}
/* line 31, ../scss/main.scss */
.dropdown li:last-child {
  border: none;
}

/* line 37, ../scss/main.scss */
.form-control[readonly] {
  opacity: 1;
  background-color: transparent;
  cursor: pointer;
}

/* line 43, ../scss/main.scss */
.icon-compass {
  padding: 0 20px;
  background: url("../images/compass.ico");
  background-size: contain;
  margin-right: 10px;
}

/* line 50, ../scss/main.scss */
.panel {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  color: #d9d9d9;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 57, ../scss/main.scss */
.panel p {
  font-size: .8em;
}

/* line 63, ../scss/main.scss */
.navbar.navbar-inverse {
  border-radius: 0;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 0;
  border: none;
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  width: 100%;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 74, ../scss/main.scss */
.navbar.navbar-inverse li {
  margin: 0 10px;
  text-align: center;
}
/* line 79, ../scss/main.scss */
.navbar.navbar-inverse li .btn {
  padding: 10px 15px;
}
/* line 84, ../scss/main.scss */
.navbar.navbar-inverse li a {
  -moz-transition: color 0.3s ease, border 0.3s ease, background 0.3s ease;
  -o-transition: color 0.3s ease, border 0.3s ease, background 0.3s ease;
  -webkit-transition: color 0.3s ease, border 0.3s ease, background 0.3s ease;
  transition: color 0.3s ease, border 0.3s ease, background 0.3s ease;
  color: #d9d9d9;
  font-size: 14px;
  border: 1px solid transparent;
  padding: 10px 5px;
  font-weight: 700;
}
/* line 92, ../scss/main.scss */
.navbar.navbar-inverse li a:hover:not(.btn-primary) {
  border-bottom: 1px solid white;
}
@media (max-width: 767px) {
  /* line 63, ../scss/main.scss */
  .navbar.navbar-inverse {
    margin: 0 10px;
  }
  /* line 103, ../scss/main.scss */
  .navbar.navbar-inverse #menu {
    background: rgba(0, 0, 0, 0.6);
  }
  /* line 106, ../scss/main.scss */
  .navbar.navbar-inverse #menu li {
    margin: 10px;
  }
  /* line 109, ../scss/main.scss */
  .navbar.navbar-inverse #menu li a {
    border: none;
  }
  /* line 112, ../scss/main.scss */
  .navbar.navbar-inverse #menu li a:hover:not(.btn) {
    border: none !important;
    background: rgba(0, 0, 0, 0.7);
  }
}
/* line 121, ../scss/main.scss */
.navbar.navbar-inverse .btn-primary {
  color: #e6e6e6;
}
/* line 123, ../scss/main.scss */
.navbar.navbar-inverse .btn-primary:hover {
  background: #2e96d0;
}
/* line 128, ../scss/main.scss */
.navbar.navbar-inverse .btn-default {
  color: #262626;
  background: #d9d9d9;
}
/* line 132, ../scss/main.scss */
.navbar.navbar-inverse .btn-default:hover {
  color: #000000;
  background: #ffffff;
}
/* line 139, ../scss/main.scss */
.navbar.navbar-inverse .navbar-brand {
  padding: 0;
}
/* line 142, ../scss/main.scss */
.navbar.navbar-inverse .navbar-brand img {
  height: 50px;
}

/* line 152, ../scss/main.scss */
.wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -99;
  background: black;
}
/* line 162, ../scss/main.scss */
.wrapper .outer-container {
  overflow: hidden;
  width: 100%;
  background-size: 100% !important;
}
/* line 169, ../scss/main.scss */
.wrapper .outer-container .inner-container {
  color: white;
  width: 100%;
  position: relative;
}
/* line 177, ../scss/main.scss */
.wrapper .outer-container .inner-container .text-container {
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  color: #b3b3b3;
}
/* line 183, ../scss/main.scss */
.wrapper .outer-container .inner-container .text-container h1 {
  font-size: 4em;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
}
/* line 190, ../scss/main.scss */
.wrapper .outer-container .inner-container .text-container p {
  font-size: 1.1em;
  font-weight: 600;
  font-variant: small-caps;
  font-style: italic;
}

/* line 203, ../scss/main.scss */
#first-container {
  background: url("../images/trek.jpg") center right;
}
/* line 207, ../scss/main.scss */
#first-container .inner-container {
  top: 70%;
}
/* line 212, ../scss/main.scss */
#first-container .inner-container .text-container {
  text-align: center;
}
/* line 216, ../scss/main.scss */
#first-container .inner-container .text-container .btn-danger {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 15px 20px;
}

/* line 227, ../scss/main.scss */
#second-container {
  background: url("../images/scuba_coral.jpg") center right;
}
/* line 231, ../scss/main.scss */
#second-container .inner-container {
  top: 25%;
}
/* line 234, ../scss/main.scss */
#second-container .inner-container #list-water-sports {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}
/* line 238, ../scss/main.scss */
#second-container .inner-container #list-water-sports li {
  padding: 0;
  background: rgba(13, 13, 13, 0.65);
  border: 1px solid #000000;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 245, ../scss/main.scss */
#second-container .inner-container #list-water-sports li b {
  color: #e1e1e1;
  padding: 10px 15px;
  display: block;
  font-style: italic;
  font-size: 1.3em;
}
/* line 253, ../scss/main.scss */
#second-container .inner-container #list-water-sports li a {
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  font-family: "Open Sans", sans-serif;
  font-size: .8em;
  display: block;
  width: 100%;
  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
}
/* line 263, ../scss/main.scss */
#second-container .inner-container #list-water-sports li a:hover {
  text-decoration: none;
  background: rgba(0, 153, 204, 0.6);
  color: #ffffff;
}
/* line 273, ../scss/main.scss */
#second-container .inner-container .text-container {
  margin-top: 50px;
  text-align: right;
}

/* line 281, ../scss/main.scss */
#third-container {
  background: url("../images/bike.jpg") top right;
}
/* line 285, ../scss/main.scss */
#third-container .inner-container {
  top: 20%;
}
/* line 288, ../scss/main.scss */
#third-container .inner-container .row {
  margin-bottom: 50px;
}
/* line 292, ../scss/main.scss */
#third-container .inner-container .text-container {
  text-align: justify;
}

/* line 299, ../scss/main.scss */
#fourth-container .flexslider {
  border: none;
}
/* line 303, ../scss/main.scss */
#fourth-container .flexslider .slides li {
  background-size: cover !important;
}
/* line 306, ../scss/main.scss */
#fourth-container .flexslider .slides li:nth-child(2) {
  background: url("../images/jet_ski.jpg");
}
/* line 309, ../scss/main.scss */
#fourth-container .flexslider .slides li:nth-child(3) {
  background: url("../images/jet_ski.jpg");
}
/* line 312, ../scss/main.scss */
#fourth-container .flexslider .slides li:nth-child(4) {
  background: url("../images/jet_ski.jpg");
}

/* line 323, ../scss/main.scss */
#fifth-container .inner-container {
  margin-top: 10%;
}
/* line 326, ../scss/main.scss */
#fifth-container .inner-container form {
  padding: 30px;
  color: #000000;
  font-family: 'Open Sans', sans-serif !important;
}
/* line 331, ../scss/main.scss */
#fifth-container .inner-container form input {
  width: 100%;
}

/* line 339, ../scss/main.scss */
#sixth-container {
  background-size: contain;
  background: url("../images/boating.jpg") no-repeat;
}
/* line 354, ../scss/main.scss */
#sixth-container .inner-container {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
}
/* line 359, ../scss/main.scss */
#sixth-container .inner-container #footer {
  padding: 30px 0;
}
/* line 363, ../scss/main.scss */
#sixth-container .inner-container #footer ul li {
  padding: 5px;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}
/* line 369, ../scss/main.scss */
#sixth-container .inner-container #footer ul li .nav-header {
  font-size: 1.7em;
  color: #808080;
  text-transform: uppercase;
  padding: 5px 0;
  font-weight: 400;
}
/* line 377, ../scss/main.scss */
#sixth-container .inner-container #footer ul li a {
  color: rgba(255, 255, 255, 0.7);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 381, ../scss/main.scss */
#sixth-container .inner-container #footer ul li a:hover {
  color: #ffffff;
  text-decoration: none;
}
/* line 389, ../scss/main.scss */
#sixth-container .inner-container #footer hr {
  border-color: #2D2D2D;
}
/* line 394, ../scss/main.scss */
#sixth-container .inner-container #footer #copyright {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #808080;
  text-align: center;
  width: 100%;
}
