@import "compass";

*{
  font-family: "Open Sans", sans-serif !important;
//  font-weight: 600;
}

a{
  @include transition(all .3s ease);
}

.glyphicon{
  font-family: 'Glyphicons Halflings', sans-serif !important;
}

.container{
  padding: 0;
  margin-top: 25px;
}


/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


#side-nav.list-group{
  .list-group-item{
    padding: 0;

    &>*{
      padding: 10px;
    }

    h2{
      margin: 0;
    }

    a{
      width: 100%;
      display: block;
      color: #808080;

      &:hover{
        text-decoration: none;
        background: transparentize(gray, .8);
        color: #000000;
      }

      &:focus{
        text-decoration: none;
      }
    }
  }
}

#dashboard-grid{
  li{
    .dashboard-block{
      padding: 50px 0;
      text-align: center;
      border: 1px solid gray;
      display: block;
      color: #000000;

      &:hover{
        text-decoration: none;
      }
    }
  }
}

.crud-bar{
  .btn-add{
    float: left;
  }

  .form-inline{
    float: right;
  }
}

.table-container{
  overflow-x: auto;
  max-height: 500px;

  table{
    width: 5000px;
    font-size: 0.8em;

    //thead
    thead{
      tr{
        th{
          font-weight: 400;
        }
      }
    }

    tbody{
      tr{
        td{
//          max-width: 300px;
//          max-height: 50px;
          overflow: hidden;
          padding: 5px;

          /*Form Button as link*/
          form{
            margin: 0;

            input[type=submit] {
              background:none!important;
              border:none;
              padding:0!important;
              cursor: pointer;
              color: #428bca;
              outline: none;

              &:hover{
                text-decoration: underline;
                color: #2a6496;
              }
            }

          }
        }
      }
    }
  }
}

#form-admin{
  .btn{
    outline: none;
  }
}

.booking-options-container{

  .option-label{
    font-size: small;
    font-style: italic;
    padding: 5px;
  }

  .form-inline{
    .selector-group{
      width: 15%;
      float: left;
      padding: 10px 10px 10px 0;

      .btn{
        margin-top: 28px;
        width: 100%;
      }

      &.date-range-selector{
        width: 35%;

        .form-group{
          display: inline-block;
          padding-right: 5px;
          width: 49%;
        }
      }

      .form-group {
        display: block;
        .form-control{
          width: 100%;
        }
      }
    }
  }
}


.booking-table{
  tbody{
    td{
      color: gray;
      font-size: .8em;
    }
  }
}

.glass-bg{
  padding: 50px 20px;
  background: transparentize(white, .1);
  margin: 50px 20px;
  @include border-radius(10px);
  @include single-box-shadow(0, 4px, 15px, -6px, transparentize(black, .25));
}