@import "compass";

*{
  font-family: "Open Sans", sans-serif !important;
//  font-weight: 600;
}

a{
  @include transition(all .3s ease);
}

.container{
  padding: 0;
  margin-top: 25px;
}


/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


#side-nav.list-group{
  .list-group-item{
    padding: 0;

    &>*{
      padding: 10px;
    }

    h2{
      margin: 0;
    }

    a{
      width: 100%;
      display: block;
      color: #808080;

      &:hover{
        text-decoration: none;
        background: transparentize(gray, .8);
        color: #000000;
      }
    }
  }
}

#dashboard-grid{
  li{
    .dashboard-block{
      padding: 50px 0;
      text-align: center;
      border: 1px solid gray;
      display: block;
      color: #000000;

      &:hover{
        text-decoration: none;
      }
    }
  }
}

.crud-bar{
  .btn-add{
    float: left;
  }

  .form-inline{
    float: right;
  }
}

.table-container{
  overflow-x: auto;
  max-height: 800px;

  table{
    width: 100%;
    font-size: 0.8em;

    //thead
    thead{
      tr{
        th{
          font-weight: 400;
        }
      }
    }

    tbody{
      tr{
        td{
          max-width: 300px;
          overflow: hidden;
          padding: 5px;

          /*Form Button as link*/
          form{
            margin: 0;

            input[type=submit] {
              background:none!important;
              border:none;
              padding:0!important;
              cursor: pointer;
              color: #428bca;
              outline: none;

              &:hover{
                text-decoration: underline;
                color: #2a6496;
              }
            }

          }
        }
      }
    }
  }
}

#form-admin{
  .btn{
    outline: none;
  }
}