@import "compass";
@import "variables";

*:not(.glyphicon){
  font-family: "Raleway", sans-serif !important;
}

.white {
  background-color: white;
}

.btn{
  @include transition(all .3s ease);
}

.radius {
  @include border-radius(10px);
  overflow: hidden;
}

.shadow{
  @include single-box-shadow(0, 1px, 9px, -1px, darken(white,30));
}

.bootstrap-datetimepicker-widget.dropdown-menu{
  background: white;
}

.datepicker-container{
  label{
    width: 100%;
  }

  select{
    width: 20%;
  }


  select[name*=day],select[name*=month],select[name*=year]{
    border: 1px solid darken(white,20);
    padding: 5px;
    @include border-radius(5px);
    @include transition(all .5s ease);

    &:active{
      @include single-box-shadow(0,0,8px,transparentize(deepskyblue,.6));
      //    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }
  }
}


.dropdown {
  background: white;
  position: absolute;
  padding: 0 5px;
  border: 1px solid transparentize(#808080, .5);
  border-top: none;
  max-height: 300px;
  overflow-y: auto;
  @include border-radius(0 0 5px 5px);

  li {
    list-style: none;
    padding: 5px;
    border-bottom: 1px solid transparentize(#808080, .5);
    cursor: pointer;
    font-size: .8em;
    color: darkgray;

    &:last-child {
      border: none;
    }
  }
}

.ac-field[readonly], .ac-field:disabled, .datepicker-container select:disabled {
  opacity: 1;
  background-color: transparent;
  cursor: default;
  border-color: transparent;
  resize: none;
  @include appearance(none);
}

.icon-compass {
  padding: 0 18px;
  background: url("../images/compass.ico");
  background-size: contain;
  margin-right: 10px;
}

.panel {
  background: transparentize(#000000, .5);
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  color: darken(#ffffff, 15);
  @include border-radius(0);

  p {
    font-size: .8em;
  }
}



//menu bar css
.navbar{
  border-radius: 0;
  width: 100%;
  padding: 10px 0;
  border: none;
  font-family: 'Open Sans', sans-serif;

  position: fixed;
  z-index: 99;
  @include transform(translate3d(0, 0, 0));

  li {

    margin: 0 10px;
    text-align: center;

    .btn {
      padding: 10px 15px;
    }

    //    links css
    a {
      @include transition(color .3s ease, border .3s ease, background .3s ease);
      font-size: 14px;
      border: 1px solid transparent;
      padding: 10px 5px;
      font-weight: 700;

      &.btn {
        border-color: transparent;

        &:active {
          @include box-shadow(none);
        }
      }

    }
  }

  .dropdown-menu {
    overflow: hidden;
    padding: 0;
    background-color: #ffffff;

    li {
      margin: 0;

      a {

        border: none !important;

        &:hover {
          border: none !important;
        }
      }
    }
  }

  //menu buttons
  .btn-primary {
    color: darken(#ffffff, 10);
    &:hover {
      background: lighten(#2578a6, 10);
    }
  }

  .btn-default {
    color: lighten(#000000, 15);
    background: darken(#ffffff, 15);
    border-color: transparent !important;
  }

  .navbar-brand {
    padding: 0;

    img {
      height: 50px;
    }
  }
}

.fixed-white{
  background: white;
  @include single-box-shadow(0, 2px, 5px, -2px, grey);

  li{
    a{
      color: lighten(#000000,30);

      &:hover:not(.btn) {
        background-color: transparent;
        border-bottom: 1px solid black;
        color: #000000;
      }

    }
  }

  .dropdown-menu {
    li {

      a {
        color: black;


        &:hover {
          background: darken(#ffffff, 5);
        }
      }
    }
  }
}

.fixed-black{
  background: transparentize(#000000, .4);

  li{
    a{
      color: darken(#ffffff, 15);

      &:hover:not(.btn) {
        border-bottom: 1px solid white;
        background-color: transparent;
        color: #ffffff;
      }

      &.btn-default {
        color: lighten(#000000, 15);
        background: darken(#ffffff, 15);

        &:hover {
          color: #000000;
          background: #ffffff;
        }
      }
    }
  }



  .dropdown-menu{
    background: transparentize(#000000, .4);

    li {

      a {
        border: none !important;
        color: darken(#ffffff,15);

        &:hover {
          border: none !important;
          background: lighten(#000000, 25);
        }
      }
    }
  }
}


/*FOOTER*/

footer{
  margin-top: 150px;
  @include single-box-shadow(lighten(gray,40),0, -1px, 11px, 5px);
  @include background(linear-gradient(white 0, darken(white,5) 100%));

  #footer {
    padding: 30px 0;

    ul li {
      padding: 5px;
      list-style: none;
      font-family: "Open Sans", sans-serif;
      font-size: 13px;

      .nav-header {
        font-size: 1.7em;
        color: black;
        text-transform: uppercase;
        padding: 5px 0;
        font-weight: 400;
      }

      a {
        color: lighten(#000000, 30);
        @include transition(all .3s ease);

        &:hover {
          color: black;
          text-decoration: none;
        }
      }
    }

    hr {
      border-color: #2D2D2D;
    }

    #copyright {
      font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #808080;
      text-align: center;
      width: 100%;
    }
  }
}

//main container
.wrapper {
  //  background: url("../images/trek.jpg") right center no-repeat;
  //  min-height: 900px;
  position: absolute;
  width: 100%;
  top: 0;
  margin: 0 auto;
  //  background-size: 120%;

  .outer-container {
    overflow: hidden;
    width: 100%;
    background-size: 100% !important;
    background-color: #000000;

    //row contents
    .inner-container {
      color: white;
      width: 100%;
      position: relative;
      //      position: absolute;
      //      margin-top: -600px;
      //      z-index: 1;

      .text-container {
        //    background: rgba(0, 0, 0, 0.50);
        line-height: 1.5;
        font-family: "Open Sans", sans-serif;
        color: darken(#ffffff, 30);

        h1 {
          font-size: 4em;
          font-weight: 700;
          text-transform: uppercase;
          font-style: italic;
          font-family: "Open sans", sans-serif !important;
        }

        p {
          font-size: 1.1em;
          font-weight: 600;
          font-variant: small-caps;
          font-style: italic;
        }
      }
    }
  }
}

//first container
#first-container {
  background-image: url("../images/trek.jpg");
  background-position: center right;
  //  background-size: 100%;

  .inner-container {
    top: 70%;

    //  @include background(linear_gradient(rgba(0, 0, 0, 0) 0%,black 100%));

    .text-container {
      //    background: rgba(0, 0, 0, 0.50);
      text-align: center;

      .btn-danger {
        font-family: "Open Sans", "Helvetica Neue", sans-serif;
        font-size: 1.5em;
        font-weight: 700;
        @include border-radius(5px);
        padding: 15px 20px;
      }
    }
  }
}

#second-container {
  background: url("../images/scuba_coral.jpg") center right;
  background-position: center right;

  .inner-container {
    top: 10%;

    #list-water-sports {
      color: #ffffff;
      font-family: "Open Sans", sans-serif;

      li {

        padding: 0;
        background: transparentize(lighten(black, 5), .35);
        border: 1px solid #000000;
        @include border-radius(0);

        b {
          color: #e1e1e1;
          padding: 10px 15px;
          display: block;
          font-style: italic;
          font-size: 1.3em;
        }

        a {
          @include transition(background .3s ease);
          font-family: "Open Sans", sans-serif;
          font-size: .8em;
          display: block;
          width: 100%;
          padding: 10px 15px;
          color: transparentize(#ffffff, .3);
          font-style: italic;

          &:hover {
            text-decoration: none;
            background: transparentize(darken(deepskyblue, 10), .4);
            color: #ffffff;
          }
        }
      }

    }

    .text-container {
      margin-top: 50px;
      text-align: right;
    }
  }
}

#third-container {
  background-image: url("../images/bike.jpg");
  background-position: top right;;
  //  background-size: 100%;

  .inner-container {
    top: 10%;

    .row {
      margin-bottom: 50px;
    }

    .text-container {
      text-align: justify;
    }
  }
}

#fourth-container {

  .flexslider {
    border: none;

    .slides {
      li {
        background-size: cover !important;
        width: 100%;

        /*        &.clone{
                  display: none !important;
                }*/

        /*        &:nth-child(2){
                  background: url("../images/jet_ski.jpg");
                }
                &:nth-child(3){
                  background: url("../images/jet_ski.jpg");
                }
                &:nth-child(4){
                  background: url("../images/jet_ski.jpg");
                }*/
      }

    }
  }
}

#fifth-container {
  background-image: url("../images/landscape.jpg");

  .inner-container {
    margin-top: 10%;

    form {
      padding: 30px;
      color: #000000;
      font-family: 'Open Sans', sans-serif !important;

      input {
        width: 100%;
      }
    }
  }

}

#sixth-container {
  //  background:
  //  -webkit-linear-gradient(45deg, hsla(22, 99%, 22%, 1) 0%, hsla(22, 99%, 22%, 0) 70%),
  //  -webkit-linear-gradient(315deg, hsla(143, 92%, 7%, 1) 10%, hsla(143, 92%, 7%, 0) 80%),
  //  -webkit-linear-gradient(225deg, hsla(212, 95%, 22%, 1) 10%, hsla(212, 95%, 22%, 0) 80%),
  //  -webkit-linear-gradient(135deg, hsla(32, 97%, 0%, 1) 100%, hsla(32, 97%, 0%, 0) 70%);
  //  background:
  //  linear-gradient(45deg, hsla(22, 99%, 22%, 1) 0%, hsla(22, 99%, 22%, 0) 70%),
  //  linear-gradient(135deg, hsla(143, 92%, 7%, 1) 10%, hsla(143, 92%, 7%, 0) 80%),
  //  linear-gradient(225deg, hsla(212, 95%, 22%, 1) 10%, hsla(212, 95%, 22%, 0) 80%),
  //  linear-gradient(315deg, hsla(32, 97%, 0%, 1) 100%, hsla(32, 97%, 0%, 0) 70%);

  background-size: cover !important;
  background-image: url("../images/boating.jpg");
  background-repeat: no-repeat;

  .inner-container {
    background: transparentize(#000000, .5);
    position: absolute;
    bottom: 0;

    #footer {
      padding: 30px 0;

      ul li {
        padding: 5px;
        list-style: none;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;

        .nav-header {
          font-size: 1.7em;
          color: #808080;
          text-transform: uppercase;
          padding: 5px 0;
          font-weight: 400;
        }

        a {
          color: transparentize(#ffffff, .3);
          @include transition(all .3s ease);

          &:hover {
            color: #ffffff;
            text-decoration: none;
          }
        }
      }

      hr {
        border-color: #2D2D2D;
      }

      #copyright {
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #808080;
        text-align: center;
        width: 100%;
      }
    }
  }
}

//login page
.form-row {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60%;
}

.form-container {
  background: #ffffff;
  padding: 10px 20px;
  @include border-radius(10px);
  @include single-box-shadow(0, 5px, 5px, 5px, transparentize(black, .8));

  .checkbox input[type=checkbox] {
    float: none;
//    margin: 0;
  }

  .btn {
    width: 100%;
  }
}


/*PACKAGES*/

.intro-head{
  margin: 150px 0 50px 0;

//  *{
//    font-family: 'Raleway', sans-serif !important;
//  }

  h1{
    font-weight: 400;
    font-size: 3.5em;
  }

  hr{
    margin: 10px 0;
  }

  p{
    font-weight: 300;
    font-size: 1.2em;
  }
}

.entity-grid{

//  *{
//    font-family: 'Raleway', sans-serif !important;
//  }

  li{

    a{
      background-size: cover;
      width: 100%;
      display: block;
      height: 250px;
      overflow: hidden;

      .slide-top{
        padding: 10px;
        position: relative;
        bottom: -160px;
        height: inherit;
        color: darken(white,10);
        background: transparentize(#000000,.7);
        @include transition(all .3s ease);

        .hidden-desc{
          margin: 25px 0 0;

          p{
            font-size: .9em;
          }
        }
      }

      &:hover {
        text-decoration: none;

        .slide-top{
          color: #ffffff;
          bottom: 0;
        }
      }
    }
  }
}

/*SHOW PACKAGE*/
.cover-image{
  height: 300px;
  width: 100%;
  background-size: cover;
  background-image:  linear-gradient(to bottom, rgba(102,102,102,0) 0%, rgba(0,0,0,1) 100%);

  .cover-gradient{
    width: 100%;
    height: inherit;
    position: relative;
    bottom: 0;
    @include background(linear-gradient(transparent 0%, transparentize(black,.2) 100%));
  }
}

.package-details-container{
  display: inline-table;
  width: 100%;
  background: #ffffff;
  padding: 30px 20px;
  @include border-radius(0 0 10px 10px);
  @include single-box-shadow(darken(white,20),0,5px,5px,0);
}

.package-details{

}

.package-features{
  &>li>div{
    border: 1px solid darken(white,20);
    padding: 20px;

    h3{
      margin: 10px 0;
    }

    hr{
      margin: 5px 0;
    }

    ul{
      li{
        a{
          color: gray;
          font-size: .9em;
          @include transition(all .3s ease);

          &:hover{
            color: black;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.side-container {
  padding: 20px 10px;
  margin: 20px 0;
  background: darken(white,3);
  min-height: 300px;
  @include single-box-shadow(darken(white,20),0,5px,5px,0);
  @include border-radius(5px);

  .side-detail{
    margin-bottom: 15px;

    .tag-header{
      padding:10px;
      background: $lightgreen;
      width: 100%;
      color: white;
      margin-bottom: 0;
    }

    .tag-value{
      background: white;
      margin: 0;
      padding: 10px;
    }

  }

  .bk-now-btn{
    background: $lightblue;
    border-color: darken($lightblue,2);
    width: 100%;
    outline: none;
    font-size: 1.5em;
    @include border-radius(0);

    &:hover{
      background: darken($lightblue,5);
    }
  }

}

/*BOOKING PAGE*/
#booking-form-container{
  margin-top: 50px;
  background: #ffffff;
  padding: 30px;
  @include border-radius(10px);
  @include single-box-shadow(darken(white,20),0,5px,5px,0);

  #startDate{

    &:read-only {
      background: transparent;
      color: #000000;
      border: 1px solid darkgray;
      cursor: pointer;
    }

    @include input-placeholder{
      color: #000000;
    }

  }
}

/*CHECKOUT PAGE*/
.accordion-row-container{
  margin-top: 100px;

  .errors{
    width: 50%;

    .alert{
      padding: 5px 15px;
    }
  }


  .accordion-container{

    .panel{
      //    padding: 0;
      background: white;
      color: black;
      padding: 10px;
      @include border-radius(5px);
      @include single-box-shadow(lighten(gray,30),0, 3px, 8px, -1px);

      &>div{
        //      padding: 0 20px;
      }

      hr{
        margin: 0;
      }

      .panel-heading{
        background-color: transparent;



        .panel-title{
          a{
            color: #000000;
            font-weight: 600;
            text-decoration: none;
          }
        }
      }

      .panel-body{
        padding: 10px 25px;
        border: none;

        form{
          label{
            font-weight: 400;
          }
        }
      }
    }
  }
}

#personal-container{
  form{

  }
}

/*ORDER SUMMARY*/
#summary-container{
  table{
    font-size: .8em;
    margin-top: 25px;
  }
}

/*payment card*/

.paymentCard{
  width: 50%;
  margin-bottom: 50px;
  background: darken(white,5);
  padding: 20px;
  @include border-radius(10px);
  @include single-box-shadow(0, 1px, 9px, -1px, darken(white,30));

  label{
    font-weight: 600 !important;
  }

  .datepicker-container{
    select{
      width: 150px;

      &:first-of-type{
        margin-right: 24px;
      }
    }
  }
}

/*BOOKING SUCCESS*/

.order-status-container{
  margin-top: 150px;

  .alert{
//    font-family: "Raleway", sans-serif !important;
    color: #ffffff;
    background: #00C4CB;
    border: none;
    border-radius: 0;
    padding: 30px 0;
    margin: 0;
    @include border-radius(0);
  }

  .alert-booking{
    background: #00C4CB;
  }

  .white{
    padding-bottom: 50px;
  }


  hr{
    margin-top: 0;
  }

  .booking-details{
    padding: 25px 0;

    table{
      width: 60%;
      margin: 0 auto;
      font-size: .8em;
      color: gray;
    }

  }
}

.btn-tickt{
  padding: 25px 50px;
  text-transform: uppercase;
  width: 100%;
  @include transition(all .3s ease);
  @include background(linear-gradient(transparent 0%,ghostwhite 100%));
  @include border-radius(0);
}

/*Account Settings*/
.header-container{
  margin-top: 50px;
}


.tabs-container{
  margin-top: 25px;

  .tabbable{

    ul.nav{
      width: 25%;
      border: 1px solid #d3d3d3;
      overflow: hidden;
      @include border-radius(5px);

      li{
        margin: 0;

        &:not(:last-child){
          border-bottom: 1px solid #d3d3d3;
        }

        &.active>a{
          background: darken(white,8);

          &:hover{
            background: darken(white,10);
          }
        }

        a{
          margin: 0;
          width: 100%;
          border: none;
          background: none;
          @include border-radius(0);
          @include transition(all .3s ease);

          &:hover{
            background: darken(white,3);
          }
        }
      }
    }
  }
}

.tab-pane{

  .tab-content-header{
    margin: 0;
  }

  hr{
    margin: 10px 0 30px;
  }

  input:read-only{
    outline: none;
    background: none;
    color: black;
    cursor: default;
    border: 1px solid transparent;
  }

  tr:first-child td{
    border-top: none;
  }
}

.booking-item-container{
  height: 250px;
  border: 3px solid darkgray;
  margin-bottom: 25px;
  padding: 20px;

  .booking-image{
    height: 200px;
    width: 35%;
    border: 5px solid white;
    background-size: cover;
    float: left;
  }

  .booking-details{
    width: 30%;
    float: left;
    margin: 0 15px;

    h4{
      font-weight: bold;
    }

    p{
      font-size: .8em;
      margin: 0;
    }
  }

  .booking-buttons{
    width: 30%;
    float: right;
    padding: 10px;

    .btn{
      margin-bottom: 10px;
      width: 100%;
    }
  }
}

.change-bar{
  padding: 10px;
}