.navbar.navbar-inverse{
  #menu {
    background: transparentize(black,0.4);
    max-height: none;

    li {
      margin: 10px;

      a {
        border: none;
      }
      a:hover:not(.btn) {
        border: none !important;
        background: transparentize(black,0.3);
      }
    }
  }
}